---
import { getCollection } from "astro:content";
import languages from "../../../i18n/languages";
import Layout from "../../../layouts/Layout.astro";
import SearchBar from "../../../components/SearchBar";
import PostList from "../../../components/PostList/PostList.astro";
import { deconstructSlug, getLangFromUrl, getPostsByLang } from "../../../i18n/utils";

export async function getStaticPaths() {
	const paths = Object.keys(languages).map((lang) => ({
		params: { lang },
	}));

	return paths;
}

const lang = getLangFromUrl(Astro.url);

const posts = await getCollection("notes");
const postsByLang = getPostsByLang(posts, lang);
postsByLang.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const decoratedPosts = postsByLang.map((post) => {
	const { slugWithoutLang } = deconstructSlug(post.slug);
	return {
		...post,
		params: {
			slug: slugWithoutLang,
			lang,
		},
	};
});
---

<Layout title="GeneX.io Notes" description="GeneX.io Notes">
	<div class="flex flex-col space-y-4">
		<h1 class="text-2xl">Notes</h1>
		<div class="my-0">
			<SearchBar client:load />
		</div>
		<PostList posts={decoratedPosts} />
	</div>
</Layout>
