---
import Panel from "./Panel.astro";
import DaysAndCountdown from "../DaysAndCountdown";

const { class: className } = Astro.props;
---

<Panel class:list={[className]}>
	<div class="h-full flex items-center">
		<div class="flex items-center min-h-[180px] w-full">
			<DaysAndCountdown client:only="react" />
		</div>
	</div>
</Panel>
