---
import Panel from "./Panel.astro";
import GitTopLangIframe from "./GitPanelIframe/GitTopLangIframe";

const { class: className } = Astro.props;
---

<Panel class:list={[className]}>
	<div class="h-full flex flex-col justify-center">
		<GitTopLangIframe client:load />
	</div>
</Panel>
