---
const { class: className } = Astro.props;
---

<div class={[className]}>
	<div class="px-6 py-4 h-full rounded shadow-md border border-slate-200 dark:border-slate-700 bg-white dark:bg-white dark:bg-opacity-10 bg-opacity-90">
		<slot />
	</div>
</div>
