---
import Panel from "./Panel.astro";
import GradientAnimateGithubIcon from "../Icons/GradientAnimateGithubIcon.astro";
import GradientAnimateLinkedinIcon from "../Icons/GradientAnimateLinkedinIcon.astro";
import GradientAnimateEmailIcon from "../Icons/GradientAnimateEmailIcon.astro";
import GradientAnimateRSSIcon from "../Icons/GradientAnimateRSSIcon.astro";

const { class: className } = Astro.props;
---

<Panel class:list={[className]}>
	<div class="gradient-text-container text-center">
		<h1 class="text-6xl">GeneX.io</h1>
		<p class="mt-2">UNIX was not designed to stop its users from doing stupid things, as that would also stop them from doing clever things</p>
	</div>
</Panel>

<style>
	.gradient-text-container {
		color: rgba(225, 225, 225, 0.01);
		background-size: 300% 300%;
		background-image: linear-gradient(
			120deg,
			rgba(239, 68, 68, 1) 0%,
			rgba(249, 115, 22, 1) 10%,
			rgba(234, 179, 8, 1) 25%,
			rgba(16, 185, 129, 1) 40%,
			rgba(59, 130, 246, 1) 60%,
			rgba(139, 92, 246, 1) 75%,
			rgba(236, 72, 153, 1) 90%,
			rgba(244, 63, 94, 1) 100%
		);
		background-clip: text;
		animation: animate 5s ease-in-out infinite;
	}

	@keyframes animate {
		0%,
		100 {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
	}
</style>
