---
import { Icon } from "astro-icon";
import Panel from "./Panel.astro";

const { class: className } = Astro.props;
---

<Panel class:list={[className]}>
	<div class="h-full flex flex-col justify-center">
		<h1 class="text-6xl font-light">GeneX.io</h1>
		<h1 class="text-6xl text-right font-light">Workspace</h1>
		<p class="my-4 text-sm text-gray-500">Powered by Astro</p>
		<div class="flex space-x-2">
			<a href="https://github.com/genexu" target="_blank">
				<Icon pack="mdi" name="github" width="24" height="24" />
			</a>
			<a href="https://www.linkedin.com/in/gene-xu-05ab99139" target="_blank">
				<Icon pack="mdi" name="linkedin" width="24" height="24" />
			</a>
			<a href="mailto: genexu1117.dev@gmail.com">
				<Icon pack="mdi" name="email-outline" width="24" height="24" />
			</a>
		</div>
	</div>
</Panel>
