---
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import Panel from "./Panel.astro";

const { class: className } = Astro.props;

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<Panel class:list={[className]}>
	<div class="h-full flex flex-col justify-center">
		<form>
			<label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
				>Search</label
			>
			<div class="relative">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<Icon pack="mdi" name="magnify" width="24" height="24" />
				</div>
				<input
					type="search"
					id="default-search"
					class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
					placeholder="Search Mockups, Logos..."
					required
				/>
				<button
					type="submit"
					class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-400 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
					>Search</button
				>
			</div>
		</form>
		<div class="flex my-2 space-x-2">
			{
				tags.map((tag) => (
					<a href={`/tags/${tag}`}>
						<span class="inline-flex items-center rounded-md  px-2 py-1 text-sm font-medium text-blue-400 hover:text-blue-500 ring-1 ring-inset ring-blue-600/50">
							{tag}
						</span>
					</a>
				))
			}
		</div>
		<a class="text-xs text-blue-400 hover:text-blue-500 hover:dark:text-blue-500" href="/tags">All Tags →</a>
	</div>
</Panel>
