---
import { getCollection } from "astro:content";
import { defaultLanguage } from "../../i18n/languages";
import ListingLayout from "../../layouts/ListingLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { deconstructSlug, getPostsByLang } from "../../i18n/utils";

const posts = (await getCollection("notes")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const postsByLang = getPostsByLang(posts, defaultLanguage);
postsByLang.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const decoratedPosts = postsByLang.map((post) => {
	const { slugWithoutLang } = deconstructSlug(post.slug);
	return {
		...post,
		params: {
			slug: slugWithoutLang,
			lang: defaultLanguage,
		},
	};
});

const t = {
	title: "Notes",
};
---

<ListingLayout title={t.title}>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
		{decoratedPosts.map((post) => (
			<BlogCard post={post} />
		))}
	</div>
</ListingLayout>
