---
import { getCollection } from "astro:content";
import ListingLayout from "../../layouts/ListingLayout.astro";
import PostCard from "../../components/PostCard.astro";
import { deconstructSlug, getPostsByLang } from "../../i18n/utils";

const lang = Astro.currentLocale;

const posts = await getCollection("notes");
const postsByLang = getPostsByLang(posts, lang);
postsByLang.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const decoratedPosts = postsByLang.map((post) => {
	const { slugWithoutLang } = deconstructSlug(post.slug);
	return {
		...post,
		params: {
			slug: slugWithoutLang,
			lang,
		},
	};
});

const content = {
	en: {
		title: "Notes",
	},
	"zh-tw": {
		title: "筆記",
	},
};

const t = content[lang] || content.en;
---

<ListingLayout title={t.title}>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
		{decoratedPosts.map((post) => (
			<PostCard post={post} />
		))}
	</div>
</ListingLayout>
