---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.publicationDate.valueOf() - b.data.publicationDate.valueOf()
);
---

<Layout title="GeneX.io Posts" description="">
	<h1 class="text-2xl">Posts</h1>
	<ul class="my-2">
		{
			posts.map((post) => (
				<li class="py-4">
					<a href={`/blog/${post.slug}`}>
						<h2 class="text-lg">{post.data.title}</h2>
					</a>
					<time class="text-xs italic" datetime={post.data.publicationDate.toISOString()}>
						{post.data.publicationDate.toLocaleDateString("en-us", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})}
					</time>
					<p class="text-base ">{post.data.description}</p>
				</li>
			))
		}
	</ul>
</Layout>
