---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import SearchBar from "../../components/SearchBar";
import PostList from "../../components/PostList/PostList.astro";
import { deconstructSlug } from "../../i18n/utils";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const decoratedPosts = posts.map((post) => {
	const { lang, slugWithoutLang } = deconstructSlug(post.slug);
	return {
		...post,
		params: {
			slug: slugWithoutLang,
			lang: lang,
		},
	};
});
---

<Layout title="GeneX.io Posts" description="">
	<div class="flex flex-col space-y-4">
		<h1 class="text-2xl">Posts</h1>
		<div class="my-0">
			<SearchBar client:load />
		</div>
		<PostList posts={decoratedPosts} />
	</div>
</Layout>
