---
import { getCollection } from "astro:content";
import ListingLayout from "../../layouts/ListingLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { deconstructSlug, getPostsByLang } from "../../i18n/utils";

export async function getStaticPaths() {
	const blogPosts = await getCollection("blog");
	const notePosts = await getCollection("notes");
	const allPosts = [...blogPosts, ...notePosts];
	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
		filteredPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const lang = Astro.currentLocale;
const postsByLang = getPostsByLang(posts, lang);

const decoratedPosts = postsByLang.map((post) => {
	const { slugWithoutLang } = deconstructSlug(post.slug);
	return {
		...post,
		params: {
			slug: slugWithoutLang,
			lang,
		},
	};
});

const content = {
	en: {
		title: "Posts",
	},
	"zh-tw": {
		title: "文章",
	},
};

const t = content[lang] || content.en;
---

<ListingLayout title={t.title} tag={tag}>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
		{decoratedPosts.map((post) => (
			<BlogCard post={post} />
		))}
	</div>
</ListingLayout>
