---
import Layout from "../../layouts/Layout.astro";
import SearchBar from "../../components/SearchBar";
import { getCollection } from "astro:content";

const allPosts = (await getCollection("blog")).sort(
	(a, b) => a.data.publicationDate.valueOf() - b.data.publicationDate.valueOf()
);
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<Layout title="GeneX.io Tags" description="">
	<div class="flex flex-col space-y-4">
		<h1 class="text-2xl">Tags</h1>
		<div>
			<SearchBar client:load />
		</div>
		<div class="flex space-x-2">
			{
				tags.map((tag) => (
					<a href={`/tags/${tag}`}>
						<span class="inline-flex items-center rounded-md px-2 py-1 text-sm font-medium text-blue-400 hover:text-blue-500 ring-1 ring-inset ring-blue-600/50">
							{tag}
						</span>
					</a>
				))
			}
		</div>
	</div>
</Layout>
