---
import { DEFAULT_SITE_TITLE, DEFAULT_SITE_DESCRIPTION } from "../constants";
import Layout from "../layouts/Layout.astro";
import PostPanel from "../components/Panels/PostPanel.astro";
import NotesPanel from "../components/Panels/NotesPanel.astro";
import SearchPanel from "../components/Panels/SearchPanel.astro";
import ProfilePanel from "../components/Panels/ProfilePanel.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout title={DEFAULT_SITE_TITLE} description={DEFAULT_SITE_DESCRIPTION}>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
		<div class="flex flex-col col-span-1 gap-4">
			<SearchPanel />
			<ProfilePanel />
			<Footer />
		</div>
		<div class="flex flex-col col-span-1 md:col-span-2 gap-4">
			<PostPanel />
			<NotesPanel />
		</div>
	</div>
</Layout>
