---
import PostItem from "./PostItem.astro";
import type { Post } from "./types";

interface Props {
	posts: Post[];
}

const { posts } = Astro.props;
---

<ul class="my-0">
	{
		posts.map((post) => (
			<li class="pb-4 border-b border-white dark:border-slate-700 last:border-0">
				<PostItem post={post} />
			</li>
		))
	}
</ul>
