---
import { Icon } from "astro-icon";
---

<div class="w-full max-w-3xl p-3 bg-gray-100 border-blue-400 dark:bg-indigo-900 rounded border dark:border-indigo-700 flex flex-col">
	<div class="flex flex-col space-y-2">
		<div class="flex space-x-2 items-center opacity-80 font-bold">
			<Icon pack="mdi" name="note-edit-outline" width="20	" height="20" />
			<span>NOTICE</span>
		</div>
		<p>
			This page does not currently support the language you are using, so it will be displayed in the default
			language.
		</p>
	</div>
</div>
