<footer class="m-4">
	<span class="block text-sm text-center text-gray-500 dark:text-gray-400"
		>© 2023 All Rights Reserved.<a href="https://genexu.github.io/" class="hover:underline"> Gene Xu.</a></span
	>
</footer>
