---
import { Icon } from "astro-icon";
---

<header class="py-2x">
	<nav class="container flex mx-auto py-2 justify-center space-x-4">
		<a href="/">
			<Icon pack="mdi" name="home-circle-outline" width="24" height="24" />
		</a>
	</nav>
</header>
